<form action="" method="POST" role="form">

    <div class="form-group">
        <label for="">Họ và tên</label>
        <input type="text" class="form-control border-input" ng-model="user.fullname">
    </div>

    <div class="form-group">
        <label for="">Số điện thoại</label>
        <input type="text" class="form-control border-input" ng-model="user.phone">
    </div>

    <div class="form-group">
        <label for="">Địa chỉ nhận hàng</label>
        <input type="text" class="form-control border-input" ng-model="user.address">
    </div>

    <div class="form-group">
        <label for="">Số lượng</label>
        <input type="number" class="form-control border-input" ng-model="user.quantity">
    </div>

    <button type="button" class="btn btn-info btn-fill btn-wd" ng-click="register()">Đặt hàng</button>
</form>